<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.OMBAdatabase.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.OMBAdatabase.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateCustomer</servlet-name>
		<servlet-class>com.OMBAdatabase.Servlets.CreateCustomer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCustomer</servlet-name>
		<url-pattern>/newCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerXML</servlet-name>
		<servlet-class>com.OMBAdatabase.XMLservlets.DisplayCustomerXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerXML</servlet-name>
		<url-pattern>/CustomerViewXml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateTransaction</servlet-name>
		<servlet-class>com.OMBAdatabase.Servlets.AddTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTransaction</servlet-name>
		<url-pattern>/newTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionXML</servlet-name>
		<servlet-class>com.OMBAdatabase.XMLservlets.DisplayTransactionXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionXML</servlet-name>
		<url-pattern>/TransactionViewXml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateAccount</servlet-name>
		<servlet-class>com.OMBAdatabase.Servlets.CreateAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAccount</servlet-name>
		<url-pattern>/newAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccountXML</servlet-name>
		<servlet-class>com.OMBAdatabase.XMLservlets.DisplayAccountXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountXML</servlet-name>
		<url-pattern>/AccountViewXml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateBeneficiary</servlet-name>
		<servlet-class>com.OMBAdatabase.Servlets.AddBeneficiary</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateBeneficiary</servlet-name>
		<url-pattern>/newBeneficiary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BeneficiaryXML</servlet-name>
		<servlet-class>com.OMBAdatabase.XMLservlets.DisplayBeneficiaryXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeneficiaryXML</servlet-name>
		<url-pattern>/BeneficiaryViewXml</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddSecurityQuestion</servlet-name>
		<servlet-class>com.OMBAdatabase.Servlets.AddSecurityQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSecurityQuestion</servlet-name>
		<url-pattern>/newSecurityQuestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DisplayLoginDetailsXML</servlet-name>
		<servlet-class>com.OMBAdatabase.XMLservlets.DisplayLoginDetailsXML</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayLoginDetailsXML</servlet-name>
		<url-pattern>/LoginDetailsViewXml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>JSPfiles/AdminLogin.jsp</welcome-file>
	</welcome-file-list>
</web-app>
